html,
body {
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fff;
    bottom: 0;
}

#score-container {
    height: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    height: 50px;
    max-height: 50px;
    align-items: stretch;
    justify-content: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    width: 60%;
    max-width: 60%;
    border: 6px solid #000;
    box-sizing: border-box;
}

#score #player-score,
#score #comp-score {
    width: 50px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #000;
}

#player-name,
#computer-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score div {
    width: 50%;
}

#left-score {
    text-align: right;
}

#game-area {
    background-color: #fff;
    flex: 5;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 5em;
    font-weight: bold;
}

#score {
    text-transform: uppercase;
    flex: 1;
}

#you,
#comp {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 300px;
    background-color: #fff;
    /* height: 100%;     */
}

#you img,
#comp img {
    width: 80%;
}

#you img {
    transform: scaleX(-1);
    /* transform: scaleY(-1);
    filter: FlipV; */
}

#comp span {
    transform: rotate(-90deg);
}

#you {
   justify-content: flex-end;
}

#comp {
    justify-content: flex-start;
}

#interface {
    justify-content: flex-end;
    background-color: rgb(35, 35, 35);
    height: 180px;
    min-height: 180px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.player-choice {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 5px solid #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 90px;
}

.player-choice {
    transform: scaleX(-1);
}

#paper {
    background-image: url('./../img/paper.svg');
}

#rock {
    background-image: url('./../img/rock.svg'); 
}

#scissors {
    background-image: url('./../img/scissors.svg'); 
}

#copy {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ff9000;
    font-size: 70%;
    padding: 5px;
}

#copy a {
    color: #ff6600;
}

#game-area .hidden,
#interface.hidden {
    display: none;
}

#start-game a {
    border: 7px solid #000;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

#start-game a:hover {
    color: #ff9900;
    border-color: #ff9900;
}